.toastMessege {
    border: 0.2 rem;
    position: fixed;
    top: 0.5rem;
    right: 0.5rem;



}

.toast {
    width: 13rem;
    height: 2.5rem;
    border-radius: 0.5rem;
    color: white;
    position: relative;
    padding: 0.5rem;
    animation: slide 1s 1;
    margin: 0.5rem;

    span {
        position: absolute;
        right: 1rem;
        font-size: 1rem;
        cursor: pointer;
    }


}

.success {
    background-color: green;
}

.failure {
    background-color: red;
}

.warning {
    background-color: yellow;
}

.danger {
    background-color: orange;
}





@keyframes slide {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0);
    }
}